* {
  font-family: ui-sans-serif, system-ui, sans-serif;
}

h1 {
  color: rgba(224, 190, 36);
  font-size: 36px;
  font-weight: bold;
}

h2,
h3 {
  color: rgba(44, 102, 180);
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  font-style: italic;
}

h3 {
  font-size: 22px;
}

p {
  line-height: 1.5;
  color: rgb(29, 45, 53);
  font-size: 22px;
  margin-bottom: 10px;
  margin-top: 0;
}

article h2 {
  margin-bottom: 16px;
}

ul {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  list-style: square;
}

li {
  margin-bottom: 10px;
}

.company_header img {
  object-position: left top;
  margin-right: auto;
  text-align: center;
}

.product_header h1 {
  margin-bottom: 16px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.product_header .container_0 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.product_image {
  margin-top: 20px;
}

.main_div {
  border: 1px solid blue;
  width: 65%;
  height: 90%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.parent_img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  border: 1px solid red;
  width: auto;
  object-position: center;
}

.img_1 {
  margin: 10px;
  border: 1px solid black;
}

.img_2 {
  margin: 10px;
  border: 1px solid black;
}

.pitch_title,
.pitch_underline {
  color: rgba(44, 102, 180);
  font-weight: 800;
  font-size: 40px;
  max-width: 672px;
  line-height: 48px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.pitch_underline {
  text-decoration-line: underline;
  text-decoration-color: rgba(224, 190, 36);
}

.pitch_paragraph {
  text-align: left;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.pitch_paragraph p {
  margin-bottom: 16px;
}

#pitch_list {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0;
  list-style: square;
}

#pitch_list li {
  margin: 0 auto;
  display: list-item;
  padding-left: 20px;
  text-align: left;
  font-size: 16px;
  margin-top: 10px;
}

.price {
  font-size: 24px;
  color: rgba(44, 102, 180);
}

.parent_img img {
  margin: 20px 40px;
  height: 85%;
  width: auto;
}

.sample_image_1_text,
.sample_image_2_text {
  font-size: 16px;
}

.additonal_info ul {
  list-style: square;
  width: 50%;
  text-align: left;
}

.staff_pictures {
  list-style: none;
}

footer {
  margin-left: auto;
  margin-right: auto;
}

.purchase_button,
.trial_button,
.sticky_full_btn {
  background-color: black;
  color: white;
  width: 200px;
  height: 40px;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 12px;
  cursor: pointer;
  text-align: center;
}

.purchase_button:hover,
.trial_button:hover {
  background-color: white;
  color: black;
}

.purchase_button:active,
.trial_button:hover {
  text-transform: italic;
}

.trial_button {
  margin-bottom: 10px;
}

.sticky_btn {
  text-align: right;
  position: fixed;
  top: 50%;
  right: 10px;
}
