h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  font-family: sans-serif;
}

h1 {
  color: rgba(224, 190, 36);
  font-size: 36px;
  font-weight: bold;
}

h2,
h3 {
  font-weight: bold;
}

h2 {
  color: rgba(44, 102, 180);
  font-size: 24px;
  font-style: italic;
}

h3 {
  font-size: 22px;
}

p {
  line-height: 1.5;
}

.company_header {
  text-decoration-style: solid;
}

/*
.company_title {
  padding-left: 300px;
}
*/

.mainunderline {
  text-decoration-line: rgba(224, 190, 36);
}

.main_paragraph {
  max-width: 650px;
}

.price {
  font-size: 24px;
  color: rgba(44, 102, 180);
}

.product_image {
  position: relative;
}

/*
.sample_images img {
  padding: 50px;
}
*/

.additonal_info ul {
  list-style: disc;
  max-width: 600px;
}

footer ul {
  list-style: none;
}
