* {
  margin: 0 0;
  font-family: ui-sans-serif, system-ui, sans-serif;
}

h1 {
  color: rgba(224, 190, 36);
  font-size: 36px;
  font-weight: bold;
}

h2,
h3 {
  color: rgba(44, 102, 180);
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  font-style: italic;
}

h3 {
  font-size: 22px;
}

p {
  line-height: 1.5;
  color: rgb(29, 45, 53);
  font-size: 22px;
  margin-bottom: 10px;
}

article h2 {
  margin-bottom: 16px;
}

ul {
  padding-left: 20px;
  list-style: square;
}

li {
  margin-bottom: 10px;
}

.company_header img {
  margin-bottom: 20px;
  object-position: left top;
  display: flex;
}

.product_header h1 {
  margin-bottom: 16px;
  padding-left: 50px;
}

.product_image {
  margin-top: 20px;
}

.main_div {
  border: 1px solid blue;
  width: 60%;
  height: 90%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: justify;
  align-items: center;
}

.parent_img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  border: 1px solid red;
  width: inherit;
  object-position: center;
}

.img_1 {
  margin: 10px;
  border: 1px solid black;
}

.img_2 {
  margin: 10px;
  border: 1px solid black;
}

.pitch_title,
.pitch_underline {
  color: rgba(44, 102, 180);
  font-weight: 800;
  font-size: 40px;
  max-width: 672px;
  line-height: 48px;
  text-align: center;
}

.pitch_underline {
  text-decoration-line: underline;
  text-decoration-color: rgba(224, 190, 36);
}

.pitch_paragraph {
  align-items: center;
  justify-content: center;
  max-width: 672px;
}

.pitch_paragraph p {
  margin-bottom: 16px;
}

.pitch_list li {
  font-size: 16px;
}

.pitch_list ul {
  list-style: circle;
  padding-left: 15px;
}

.price {
  font-size: 24px;
  color: rgba(44, 102, 180);
}

.sample_images {
  position: relative;
}

.sample_image_1 {
  margin: 20px 40px;
  /* position: absolute; */
}

.sample_image_2 {
  margin: 20px 40px;
  /* position: absolute; */
}

.additonal_info ul {
  list-style: disc;
  max-width: 672px;
}

.staff_pictures {
  list-style: none;
}

footer {
  text-align: left;
}

.purchase_button,
.trial_button {
  background-color: black;
  color: white;
  width: 200px;
  height: 40px;
  font-size: 18px;
  margin-bottom: 10px;
  border-radius: 12px;
  cursor: pointer;
}

.purchase_button:hover,
.trial_button:hover {
  background-color: white;
  color: black;
}

.purchase_button:active,
.trial_button:hover {
  text-transform: italic;
}

.trial_button {
  margin-bottom: 10px;
}
